html
  head
    title= title
  body
    h1=message
    form(method='POST', action='/')
      #form-group
        label Question:
        input.form-control(name='question', type='text')
      #form-group
        label Answer1:
        input.form-control(name='answer0', type='text')
      #form-group
        label Answer2:
        input.form-control(name='answer1', type='text')
      #form-group
        label Answer3:
        input.form-control(name='answer2', type='text')
      #form-group
        label Answer4:
        input.form-control(name='answer3', type='text')
      #form-group
        label key:
        input.form-control(name='key', type='text')
      input.btn.btn-primary(type='submit', value='Submit')
