html
  head
    title="Poll"
    link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

<div class="container">
    <h1></h1>
    <form method="POST" action="/make" name="form1">
        <div id="form-group"><label>Question:</label><input class="form-control" name="question" type="text" required="required" /></div>
        <div id="form-group"><label>Answer1:</label><input class="form-control" name="answer0" type="text" required="required" /></div>
        <div id="form-group"><label>Answer2:</label><input class="form-control" name="answer1" type="text" required="required" /></div>
        <div id="form-group"><label>Answer3:</label><input class="form-control" name="answer2" type="text" required="required" /></div>
        <div id="form-group"><label>Answer4:</label><input class="form-control" name="answer3" type="text" required="required" /></div><br/><input class="btn btn-primary" type="submit" value="Create!" /></form>
</div>

  script(src='/bower_components/jquery/dist/jquery.js')
  script(src='/bower_components/bootstrap/dist/js/bootstrap.js')